<div ng-if="ctrl.contact.failedProps.indexOf('photo') !== -1" class="icon-error"></div>
<img ng-show="contact.photo()!==undefined" class="contactdetails__logo avatar" id="contact-avatar" data-ng-src="{{contact.photo()}}" ng-click="ctrl.openPhoto()" />
<div class="avatar-options">
	<div>
		<div class="icon-upload-white" tooltip-placement="top" uib-tooltip="{{ctrl.t.uploadNewPhoto}}" tooltip-append-to-body="true" ng-click="ctrl.toggleMenu('choosePhoto')"></div>
		<div class="popovermenu bubble menu"
			ng-class="{open: ctrl.openedMenu === 'choosePhoto'}"
			click-outside="ctrl.closeMenus()"
			outside-if-not="openMenuButton,popovermenu">
			<ul>
				<li>
					<!--<a href="#" class="inlineblock button icon-upload svg" id="uploadavatarbutton" >
						<span>Upload file</span>
					</a>-->
					<<label for="uploadavatar" id="uploadavatarbutton" title="Upload new">
						<span class="inlineblock icon-upload"></span>
						<span>Upload file</span>
					</label>
					<input type="file" name="files[]" id="uploadavatar" class="hiddenuploadfield">
				</li>
				<li>
					<a href="#" class="inlineblock button icon-folder svg" id="selectavatar">
						<span>Existing file</span>
					</a>
				</li>
			</ul>

		</div>
	</div>

<!--
	<input type="file" id="avatar-upload" class="hidden" accept="image/*" />
	<label for="uploadavatar" class="inlineblock button icon-upload svg" id="uploadavatarbutton" title="Upload new"></label>
	<div class="inlineblock button icon-folder svg" id="selectavatar" title="Select from Files"></div>
-->


	<div class="icon-delete-white" ng-show="contact.photo()!==undefined" ng-click="ctrl.removePhoto()"
		tooltip-placement="top" uib-tooltip="{{ctrl.t.deletePhoto}}" tooltip-append-to-body="true"></div>
	<div class="icon-fullscreen-white" ng-show="contact.photo()!==undefined" ng-click="ctrl.openPhoto()"
		tooltip-placement="top" uib-tooltip="{{ctrl.t.closePhoto}}" tooltip-append-to-body="true"></div>
	<div class="icon-download-white" ng-show="contact.photo()!==undefined" ng-click="ctrl.downloadPhoto()"
		tooltip-placement="top" uib-tooltip="{{ctrl.t.downloadPhoto}}" tooltip-append-to-body="true"></div>
</div>
